appnope==0.1.0
Babel==2.6.0
backcall==0.1.0
bleach==2.1.4
certifi==2018.8.24
chardet==3.0.4
decorator==4.3.0
docutils==0.14
entrypoints==0.2.3
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
nbsphinx==0.3.5
packaging==18.0
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
prompt-toolkit==2.0.4
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.2
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-bootstrap-theme==0.6.5
sphinx-nbexamples==0.3.0
sphinxcontrib-websupport==1.1.0
testpath==0.4.1
tornado==5.1.1
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1