sphinx==1.6.5
sphinx_bootstrap_theme
sphinx_pangeo_theme
jupyter
ipython
pandas # needed to build publications
nbconvert==5.4.1
nbsphinx
doctr>=1.6.3
sphinx-nbexamples
sphinx-copybutton
sphinxcontrib-srclinks
# we need to eventually upgrade sphinx in order to unpin
sphinxcontrib-bibtex=0.4.2 
